{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "require-jsdoc": "off",
    "eol-last": ["error", "never"]
  },
  "extends": ["eslint:recommended", "google"]
}